body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

main {
    padding: 30px;
    min-height: 70vh;
}

footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 15px;
}